<h1><%= @title = 'All Phenotypes' %></h1>
<%= link_to image_tag('icons/add.png'), new_phenotype_path, :class => 'quick_link' %>

<table>

<thead>
	<tr>
		<th>Name</th>
		<th>Concepts</th>
		<th>Actions</th>
	</tr>
</thead>
<tbody>
	<%= render :partial => 'row', :collection => @phenotypes %>
</tbody>

</table>
