<h1><%= @title = "Add Aberration" %></h1>

<% form_for(@aberration) do |f| %>
  <%= f.error_messages %>
	<%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
