<h1><%= @title = "Update Patient Import Package" %></h1>

<% form_for(@import) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'fields', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
