
<br class="clear"/>
<div class="wrapper col5">
    <div id="copyright">
        <p class="fl_left">
            Copyright &copy; 2010 <a href="#">Translational Genomics Research Institute</a>. All Rights Reserved.
        </p>
        <p class="fl_right">
					<% if @autorefresh %>
						(This particular page is set to automatically refresh.)
					<% end %>
        </p>
        <br class="clear" />
    </div>
</div>
<!--script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1395497-5");
pageTracker._trackPageview();
} catch(err) {}</script-->
</body>
</html>
