<div id="column">
      <div class="subnav">
        <h2>Secondary Navigation</h2>
        <ul>
          <li><a href="http://www.os-templates.com/free-css-templates">Open Source Templates</a></li>
          <li><a href="http://www.os-templates.com/free-css-templates">Free CSS Templates</a>
            <ul>
              <li><a href="http://www.os-templates.com/free-css-templates">Free XHTML Templates</a></li>
              <li><a href="http://www.os-templates.com/free-css-templates">Free Website Templates</a></li>
            </ul>
          </li>
          <li><a href="http://www.os-templates.com/free-css-templates">Open Source Layouts</a>
            <ul>
              <li><a href="http://www.os-templates.com/free-css-templates">Open Source Software</a></li>
              <li><a href="http://www.os-templates.com/free-css-templates">Open Source Webdesign</a>
                <ul>
                  <li><a href="http://www.os-templates.com/free-css-templates">Open Source Downloads</a></li>
                  <li><a href="http://www.os-templates.com/free-css-templates">Open Source Website</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="http://www.os-templates.com/free-css-templates">Open Source Themes</a></li>
        </ul>
      </div>
      <div class="holder">
        <h2 class="title"><img alt="Image" src="/images/demo/60x60.gif">Nullamlacus dui ipsum conseque loborttis</h2>
        <p>Urnaultrices quis curabitur phasellentesque congue magnis vestibulum quismodo nulla et feugiat. Adipisciniapellentum leo ut consequam ris felit elit id nibh sociis malesuada.</p>
        <p class="readmore"><a href="http://www.os-templates.com/free-css-templates">Continue Reading È</a></p>
      </div>
      <div class="holder">
        <div class="imgholder"><img alt="Image" src="/images/demo/290x100.gif"></div>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna.</p>
        <p class="readmore"><a href="http://www.os-templates.com/free-css-templates">Continue Reading È</a></p>
      </div>
      <div class="holder">
        <h2>Lorem ipsum dolor</h2>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
        <ul>
          <li><a href="http://www.os-templates.com/free-css-templates">Lorem ipsum dolor sit</a></li>
          <li>Etiam vel sapien et</li>
          <li><a href="http://www.os-templates.com/free-css-templates">Etiam vel sapien et</a></li>
        </ul>
        <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
        <p class="readmore"><a href="http://www.os-templates.com/free-css-templates">Continue Reading È</a></p>
      </div>
    </div>